[local-repomgr]
name=local-repomgr
baseurl=https://artifactory-staging.appl.kp.org/artifactory/rpm-local/8/
gpgcheck=1
enabled=1

[nagios-repomgr]
name=nagios-repomgr
baseurl=https://artifactory-staging.appl.kp.org/artifactory/rpm/nagios/8/
gpgkey=https://artifactory-staging.appl.kp.org/artifactory/rpm/RPM-GPG-KEY-NAGIOS
enabled=1
gpgcheck=1

[nagios-deps-repomgr]
name=nagios-repomgr
baseurl=https://artifactory-staging.appl.kp.org/artifactory/rpm/nagiosxi-deps/8/
enabled=1
gpgkey=https://artifactory-staging.appl.kp.org/artifactory/rpm/RPM-GPG-KEY-NAGIOS
gpgcheck=1
