sonar.jdbc.maxActive=20                                                                                                                                                                                                                 
sonar.jdbc.maxIdle=5                                                                                                                                                                                                                    
sonar.jdbc.minIdle=2                                                                                                                                                                                                                    
sonar.jdbc.maxWait=5000                                                                                                                                                                                                                 
sonar.jdbc.minEvictableIdleTimeMillis=600000                                                                                                                                                                                            
sonar.jdbc.timeBetweenEvictionRunsMillis=30000                                                                                                                                                                                          
                                                                                                                    
sonar.web.host=0.0.0.0                                                                                              
sonar.web.context=                                                                                                  
sonar.web.port=9000                                                                                                                                                                                                                     
sonar.web.https.port=-1                                                                                             
sonar.web.https.keyAlias=                                                                                           
sonar.web.https.keyPass=changeit                                                                                    
sonar.web.https.keystoreFile=                                                                                                                                                                                                           
sonar.web.https.keystorePass=                                                                                                                                                                                                           
sonar.web.https.keystoreType=JKS                                                                                                                                                                                                        
sonar.web.https.keystoreProvider=                                                                                   
sonar.web.https.truststoreFile=                                                                                     
sonar.web.https.truststorePass=                 
sonar.web.https.truststoreType=JKS                                                                                                                                                                                                      
sonar.web.https.truststoreProvider=                                                                                 
sonar.web.https.clientAuth=false                                                                                    
sonar.web.http.maxThreads=50                                                                                                                                                                                                            
sonar.web.https.maxThreads=50                                                                                                                                                                                                           
sonar.web.http.minThreads=5                                                                                                                                                                                                             
sonar.web.https.minThreads=5                                                                                                                                                                                                            
sonar.web.http.acceptCount=25                                                                                       
sonar.web.https.acceptCount=25                            
sonar.web.accessLogs.enable=true                                                                                    
sonar.ajp.port=9009                                                                                                 

sonar.ce.javaOpts=-Xms{{ applicationMemory }}M -Xmx{{ applicationMemory }}M -XX:+HeapDumpOnOutOfMemoryError                                                     

sonar.search.javaOpts=-Xms{{ applicationMemory }}M -Xmx{{ applicationMemory }}M -XX:+HeapDumpOnOutOfMemoryError                                                 
sonar.updatecenter.activate=true                            
                                                                                                                                                                                                                                        
sonar.notifications.delay=60                                                                                                                                                                                                            
sonar.rails.dev=false                                     